.header {
  display: flex;
  justify-content: center;
  position: fixed;
  padding: 10px;
  z-index: 2;
  width: 100vw;
  background-color: lightslategray;
  border-bottom: 1px solid #ccc;
}

.form {
  display: flex;
  align-items: center;
  position: relative;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

.button {
  background-color: darkblue;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: lightblue;
}
